.center {
  text-align: center;
}

.header {
  font-weight: bolder;
  /*min-height: 200px;*/
  /*margin-top: -20px;*/
  font-weight: bolder;
  padding-top: 4.5em;
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
  color: white;
}

.blur {
  text-decoration: underline;
  border-radius: 3em;
  background-color: black;
  opacity: .7;
  max-width: 450px;
  text-align: center;
  margin-left: 34%;
}

body {
background-image: url("https://lh3.googleusercontent.com/pqsjfNlcTKUOQxlDlHFqb9r0Vfaf4eq6bCRhxaOXCV3esK4Wtln_WxuCtk12ipcpiuA=h900");
}

input {
  text-align: center;
}

p {
  color: white;
}

hr.style18 {
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 2px 0 0 0;
  border-radius: 20px;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1.5px 0;
  border-radius: 20px;
}

.hiddenBills {
  display: none;
}

.hiddenPoliticians {
  display: none;
}

/*.hiddenIntroConent {
  display: none;
}*/

.hiddenIntroConent {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.hide {
  display: none;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in;
  -moz-transition: opacity .25s ease-in;
  -webkit-transition: opacity .25s ease-in;
  }
